<div ng-controller="PostController">
    <form>
      <div class="form-group">
        <textarea class="form-control" rows=3 placeholder="Message"></textarea>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <select class="form-control">
            <option>Regular</option>
            <option>ID Help</option>
            <option>Alert</option>
            <option>Photo</option>
          </select>
        </div>
        <div class="col-lg-9">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </div>
    </form>
    <hr>
    <div class="container-fluid">
      <div class="row" style="padding: 10px 10px 10px 0" ng-repeat="post in posts.posts">
        <div class="row">
          <div class="col-lg-050">
            <div class="text-center">
              <span class="glyphicon glyphicon-chevron-up pointer" aria-hidden="true" ng-click='upVote(post, $index)'></span>
            </div>
            <div class="text-center">{{post.votes}}</div>
            <div class="text-center">
              <span class="glyphicon glyphicon-chevron-down pointer" aria-hidden="true" ng-click='downVote(post, $index)'></span>
            </div>
          </div>
          <div class="col-lg-11">
            <div><b><a href="/users/{{post.user.id}}">{{post.user.name}}</a></b></div>
            <div><small><a>{{post.createdAt}}</a></small></div>
            <div>{{post.content}}</div>
            <div class="col-lg-offset-025" ng-repeat="comment in post.comments">
              <div class="col-lg-12">
                <a href="/users/{{comment.user.id}}">{{comment.user.name}}</a>
                {{comment.content}}
              </div>
            </div>
            <form name="commentForm" class="form-horizontal" ng-submit="comment(post, $index)">
              <div class="form-group col-lg-9">
                <textarea class="form-control input-block-level" rows=1  placeholder="Comment"
                ng-model="commentForm.commentContent"></textarea>
              </div>
              <div class="col-lg-3">
                <button type="submit" class="btn btn-primary btn-sm">Comment</button>
              </div>
            </form>
          </div>
          <div class="col-lg-050"></div>
        </div>
        <hr class="hr-thin">
      </div>
    </div>
</div>
