<div ng-controller="PostController">
    <form>
      <div class="form-group">
        <textarea class="form-control" rows=3 placeholder="Message"></textarea>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <select class="form-control">
            <option>Regular</option>
            <option>ID Help</option>
            <option>Alert</option>
            <option>Photo</option>
          </select>
        </div>
        <div class="col-lg-9">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </div>
    </form>
    <hr>
    <div class="container-fluid">
      <div class="row" style="padding: 10px 10px 10px 0" ng-repeat="post in posts.posts">
        <div class="row">
          <div class="col-lg-1">
            <div><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div>
            <div>{{post.votes}}</div>
            <div><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
          </div>
          <div class="col-lg-11">
            <div class="col-lg-12">{{post.user.name}}</div>
            <div class="col-lg-12">{{post.content}}</div>
            <div class="col-lg-offset-1" ng-repeat="comment in post.comments">
              {{comment.content}}
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Content</th>
                <th>Votes</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" ng-repeat="post in posts.posts">
                <td>{{post.user.name}}</td>
                <td>{{post.content}}</td>
                <td>{{post.votes}}</td>
                <td>{{post.tags}}</td>
            </tr>
        </tbody>
    </table>
</div>
